$main-bg-color : #ededed;
$primary-blue : #00a1ff;
$secondary-blue : #7aceff;
$primary-red : #FF5D5D;
$secondary-red : #930101;;
$primary-green : #2EB82E;
$secondary-green : #0A290A;
$primary-orange : #E68A00;
$secondary-orange : #331A00;

$base-font-size: 16px;