@import "common";

.title-1,
.title-2{
    font-weight:lighter;
    text-align:left;
}

.title-1{
    font-size: 32px;
    color: $primary-blue;
    padding:5px;
}

.title-2{
    font-size: 28px;
    color: $secondary-blue;
    padding:10px;
}
