body {
  font-family: Arial, Helvetica, sans-serif; }

.protected {
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */ }

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 2px solid;
  padding: .375rem .75rem .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 20px; }

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.btn-primary {
  color: #fff;
  background-color: #00a1ff;
  border-color: #00a1ff; }

.btn-primary:hover {
  background-color: white;
  color: #00a1ff; }

.btn-danger {
  color: #cc0000;
  background-color: #FF5D5D;
  border-color: #FF5D5D; }

.btn-danger:hover {
  background-color: white;
  color: #FF5D5D; }

.btn-warning {
  color: #b36b00;
  background-color: #ffad33;
  border-color: #ffad33; }

.btn-warning:hover {
  background-color: white;
  color: #ffad33; }

.btn-ok {
  color: #008000;
  background-color: #2EB82E;
  border-color: #2EB82E; }

.btn-ok:hover {
  background-color: white;
  color: #2EB82E; }

.btn-gradient {
  color: black;
  border: 2px;
  border-color: transparent;
  background-image: linear-gradient(0deg, black, white); }

.gradient-right-blue-red {
  color: white;
  background-image: linear-gradient(to right, #00a1ff, #FF5D5D); }

.gradient-left-blue-red {
  color: white;
  background-image: linear-gradient(to left, #00a1ff, #FF5D5D); }

.gradient-linear-blue-red {
  color: white;
  background-image: linear-gradient(135deg, #00a1ff, #FF5D5D); }

.gradient-rainbow {
  background: linear-gradient(to right, #FF5D5D, #ffad33, yellow, #2EB82E, #00a1ff, indigo, violet); }

.solid-outline-primary {
  border-color: #00a1ff; }

.solid-outline-primary:hover {
  border-color: transparent;
  background-color: #00a1ff;
  color: white; }

.solid-outline-danger {
  border-color: #FF5D5D; }

.solid-outline-danger:hover {
  border-color: transparent;
  background-color: #FF5D5D;
  color: white; }

.solid-outline-warning {
  border-color: #ffad33; }

.solid-outline-warning:hover {
  border-color: transparent;
  background-color: #ffad33;
  color: white; }

.solid-outline-ok {
  border-color: #2EB82E; }

.solid-outline-ok:hover {
  border-color: transparent;
  background-color: #2EB82E;
  color: white; }
