@import "common.css";

.title-1{
    font-size: 32px;
    color: var(--primary-blue,#205aaf);
    padding:5px;
    font-weight:lighter;
    text-align:left;
}

.title-2{
    font-size: 28px;
    color: var(--secondary-blue, #6e8ecd);
    padding:10px;
    font-weight:lighter;
    text-align:left;
}
